H1{
 font-family: Arial, Helvetica, sans-serif;
 color: black;
 margin-left:40%;
 opacity:70%;
}

#job{
margin-left:20%

}
#country{
float:right;
}
Img{
position: absolute;
width: 156px;
height: 140px;
left: 83px;
top: 23px;
}

.nine_columns{
position: absolute;
height: 420px;
left: 113px;
right: 44px;
top: 215px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}



