
body{
overflow-x: hidden;
}

.drop{
     float: left;
    margin-right: 10px;
    width: 265px;
    padding:5px;
    text-align: center;
}

#drop_id{
  display: flex;
  justify-content: center;
}

#job_title{
width:84%;
text-align: center;
}

#title_drop{
 display: flex;
  justify-content: center;
}

#graph_bar{
background-color:white;
margin-top: 4%;
    border-radius: 9px;
    box-shadow: 2px -1px 3px #b7b7b7;
    margin-bottom: 17px;
        padding: 11px;
}
h2, .h2 {
    font-size: 1.75rem;
    text-align: center;
    padding-top: 30px;
    color: #1e5677;
    }

#card{

  display: flex;
      justify-content: space-between;
      margin-top: 10%;
}

.mb-4{
float: left;
margin-right: 10px;
    width: 300px;
    padding:5px;
    text-align: center;
       box-shadow: 2px -1px 3px #b7b7b7;
       background-color:#3f92ab;
       border-radius: 9px;
}

#cloud{
 box-shadow: 2px -1px 3px #b7b7b7;
 margin-top: 12%;
 padding: 33px;
}

.card{
border:0px;
}

.bg-info{
background-color:#3f92ab!important;
}

.export{
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
background-color:#3f92ab;
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
color:#FFFFFF;
border: 0px;
}


.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
    background-color: #3f92ab !important;
}

.dash-table-container .dash-spreadsheet-container th {
    font-style: normal;
    font-weight: normal;
    color: white;
    font-family: sans-serif;
    text-align: center;
}


element.style {
}
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner *, .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner *:after, .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner *:before {
    box-sizing: inherit;
}

.dash-table-container .dash-spreadsheet-container th {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td, .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
    background-clip: padding-box;
    padding: 9px !important;
    overflow-x: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center !important;
    font-family: Arial;
}

.search{
background-color:white;
margin-top: 4%;
    border-radius: 9px;
    box-shadow: 2px -1px 3px #b7b7b7;
    margin-bottom: 17px;
        padding: 11px;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3f92ab;
}

a {
    color:  #3f92ab;
    text-decoration: none;
    background-color: transparent;
}


.btn-info {
    color: #fff;
    background-color: #57b8d6;
    border-color: #3f92ab;
}
.btn{
margin-top:3% !important;
margin-left:38% !important;

}

#head{
    font-size: 2.75rem;
    text-align: center;
    padding-top: 0px;
    color: #feffff;

}